.flex-control-nav {
	display:none;
}

.team_member {
   background: url(../images/wild_oliva_light_head.png);  
   color: #333;
}

.map-contatti, .map-contatti > div#map{
	height: 400px;
}

.map-rete, .map-rete > div#map {
	height: 500px;
}

.scheda-affiliato {
	min-height:400px;
}

.attachment {
	margin-top: 30px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
 }

.navbar .nav li.active ul.dropdown-menu li a {
	border-bottom: none;
}

.navbar .nav li.active ul.dropdown-menu li a:hover {
	border-bottom: solid 1px #43a331;
}

.flags {
	float: left;	
}

.flags:not(:last-child) {
	margin-right: 5px;
}

#ita_flag {
	background: url('../images/sprite-flags.png') no-repeat -7px -9px;
	width: 23px;
	height: 20px;
}

#eng_flag {
	background: url('../images/sprite-flags.png') no-repeat -7px -33px;
	width: 23px;
	height: 20px;
}

.owl-carousel .item-video{
	opacity:1				
}

#carousel2 {
	margin: 10px 0;
}

p.bg-primary {
	padding-left:3px;
}

.imbarcazione {
	margin-top: 35px;
}

.areasensitive {
	margin-top: 20px;
}

.portfolio_description h3 {
	color: #43a331;
}

#car_lingua {
	width: auto;
}

.post_header {
	margin-bottom: 6px;
}

.carbox {
	margin-bottom: 20px;
}

#blogelem #carousel1 img {
	max-height: 400px; 
}

#blogelem #carousel2 img {
	max-height: 165px; 
}

#sidebar li.media a.media-date {
	padding-top: 5px;
}

li.media a.media-date {
	padding-top: 5px;
}
